/* .generalContainer {
  height: 100vh;
} */

.arrow {
  font-size: 2rem;
  padding-bottom: 2rem;
  margin-left: 3rem;
  color: black;
}

.stylesTitle {
  font-size: 3rem;
  color: black;
  margin-left: 3rem;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.description {
  margin-left: 3rem;
}

.marginDiv {
  padding-top: 18rem !important;
}
