.bgHome {
  background-color: black;
}

.imgHover:hover {
  z-index: 1;
  opacity: 1;
  transform: scale(1.1);
}
.imgHover:hover {
  transition: 0.6s;
}

img {
  opacity: 0.9;
}
.inputWidth {
  width: 30%;
}

/* NAVBAR */
.image {
  background-image: url(https://images.unsplash.com/photo-1489599849927-2ee91cede3ba?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: bottom;
  padding-bottom: 12rem;
}

.navbar {
  background-color: black;
}

.sizeDivNavbar {
  height: 300px;
}

/*radialGradient dos valores */
